:root {
    --default-color : #2E2F42;
    --secondary-color: #FFFFFF;
    --third-color:#4D5AE5;
    --fouth-color: #F4F4FD;
    --fifth-color:#E7E9FC;
    --sixth-color:#404BBF;
    --seventh-color:#434455;
    --theme-color: #2E2F42;
    --hero-cover: rgba(46, 47, 66, 0.70);
    --eight-color: #8E8F99;
}
h1,h2,h3,h4,h5,h6,p { margin: 0;}
html { box-sizing: border-box;}
*,*::after,*::before { box-sizing: inherit;}
img { display: block; max-width: 100%; height: auto;}
.list { list-style: none; padding: 0; margin: 0;}

body {
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    color: var(--default-color,#2E2F42);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.logo {
    color: inherit;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-colored {
    color: var(--third-color);
}
.logo, 
.nav, 
.contact {
    text-decoration: none;
    line-height: 1.2;
    cursor: pointer;
}
.menu-nav {
    margin-left: 76px;
}
.nav{
    color: var(--default-color);
    display: block;
    padding: 25px 0;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.contact{
    color: var(--default-color);
    display: block;
    padding: 25px 0;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.hero-image {
    background-color: var(--theme-color);
    /*background-blend-mode: overlay;*/
    background: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)),
     url("../images/people-office-1.jpg");
    color: var(--secondary-color);
}
.hero-top-banner{
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.feat-title{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: left;
}
.card-title{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
}
.project-card-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.feat-desc {
    margin-top: 8px;
    color:var(--seventh-color);
    line-height: 24px;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.btn-primary,
.filter-btn{
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    border: 1px solid var(--fifth-color);
    border: 0;
}
.btn-primary{
    color: var(--secondary-color);
    background-color: var(--third-color);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;

    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.filter-btn{
    color: var(--third-color);
    background-color: var(--fouth-color);
    border: 1px solid var(--fifth-color);

    cursor: pointer;
    padding: 12px 24px;
}
.link{
    text-decoration: none;
    color: inherit;
}
.project-link:hover, 
.project-link:focus
   { 
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.proj-cardlist {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}
.project-link{
    display: block;
}
.card-text{
    margin-top: 8px;
    color:var(--seventh-color);
}
.section-team{
    background-color: var(--fouth-color);
}
.footer{
    background-color: var(--theme-color);
    color: var(--secondary-color);
}
.menu-nav .nav:focus,
.menu-nav .nav:hover{
    color: var(--sixth-color);
}
.menu-contact .contact:hover,
.menu-contact .contact:focus,
.menu-nav .nav.active{
    color: var(--sixth-color);
}
.btn-primary:hover,
.filters .filter-btn:hover{
    color: var(--secondary-color, #FFFFFF);
    background-color: var(--sixth-color, #404BBF);
    cursor: pointer;
}
.btn-primary:focus,
.filters .filter-btn:focus{
    color: var(--secondary-color, #FFFFFF);
    background-color: var(--third-color);
}
.filters .filter-btn.active {
    color: var(--secondary-color);
    background-color: var(--third-color);
}
.socmed-icon:hover,
.socmed-icon:focus {
    background-color: var(--sixth-color);
}
.socmed-icon:active {
    background-color: var(--third-color);
}
.client-list:hover,
.client-list:focus  {
    border-color: var(--sixth-color);
    color: var(--sixth-color);
}
.centered-list {
    margin: 0 auto;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid var(--fifth-color);
}
.menu-nav,
.menu-contact {
    display: inline-flex;
    align-items: center;
    gap: 40px;
}

.unstyle-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-nav {
    margin-left: 76px;
}
.container-header {
    display: flex;
    justify-content: space-between;
}
.btn-primary {
    margin-top: 48px;
}
.hero-image {
    padding: 188px 0;
    text-align: center;
}
.section{
    padding: 120px 0;
}
.feature-section {
    display: flex;
    gap: 22px;
}
.feature-list:
    flex-basis: calc((100% - 90px) / 4);
.feature-section > .feature-list {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.section-attached{
    padding-top: 0;
}
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.card > .card-list {
    flex-basis: calc((100% - 60px) / 3);
}
.team-card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.card-content{
    border-top: 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--secondary-color, #FFF);
    box-shadow: 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding: 20px 24px;
}
.card-text {
    text-align: center;
    margin-top: 8px;
}
.container-category{
    text-align: center;
}
.filters {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 72px;
}
.project-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.proj-cardwrap {
    padding: 32px 16px;
    text-align: left;
    border: 1px solid var(--fifth-color);
    border-top: 0;
    background: var(--secondary-color);
}
.footer {
    padding: 100px 0;
}
.footer-text {
    margin-top: 18px;
}
.container-footer {
    display: flex;
    justify-content: left;
    gap: 120px;
}
/*.footer-box {
    display: flex;
    flex-direction: column;
    row-gap: 16px;*/
}
.feat-icon {
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    display: flex;
    background-color: var(--fouth-color);
}
.footer-title{
    font-weight: 500;
}
.socmed-list{
    display: flex;
    gap: 16px;
    margin-top: 8px;
}
.socmed-footer{
    display: flex;
    gap: 16px;
}
.icon-socmed {
    height: 16px;
    width: 16px;
}
.socmed-icon{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--third-color);
}
.icon {
    fill: currentColor;
}
.icon-client {
    width: 104px;
    height: 56px;
}
.client-list {
    display: flex;
    width: 168px;
    height: 88px;
    align-items: center;
    justify-content: center;
    color: var(--eight-color);
    border-radius: 4px;
    border: 1px solid var(--eight-color);
}